.container{
    max-width: 1200px;
    margin: 20px auto;
}

.table table{
    border: 1px solid black;
}

thead{
    background: #777;
    color: white;
    text-transform: uppercase;
}

th{
    padding: 10px;
    font-weight: 100;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.flex_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.in_flex_50{
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%;
}